DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dashboard_db?schema=public"
# DATABASE_URL="postgresql://postgres:postgres@host.docker.internal:5432/dashboard"

# Server
PORT=4000
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:5173,